# Assignment 13

1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

In [17]:
def remove_letters(lis, string):
    l = len(lis)
    a_lis = lis.copy()
    for i in range(l):
        ch = lis[i]
        if ch in string:
            a_lis.remove(ch)
            string.replace("ch","",1)
    return a_lis

In [18]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [19]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['g', 'w']

In [20]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

- 2. A block sequence in three dimensions. We can write a formula for this one:
    Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.

In [21]:
def blocks(num):
    a = num*3
    b = num*2
    c = num*(num+1)*0.5
    return a + b + int(c) - 1

In [22]:
test = [1,2,3,4,5,6]
for i in test:
    print(i, "-- number of blocks-->", blocks(i))

1 -- number of blocks--> 5
2 -- number of blocks--> 12
3 -- number of blocks--> 20
4 -- number of blocks--> 29
5 -- number of blocks--> 39
6 -- number of blocks--> 50

- 3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as -, %, /, +, etc.

In [55]:
def subtract(x, y):

    while (y != 0):
        borrow = (~x) & y   # bitwise AND
        x = x ^ y           # Bitwise XOR
        y = borrow << 1     # shift 1 dig in binary

    return x

In [56]:
test_num = [[9,4],[10,5],[13,10],[25,12]]
for num1,num2 in test_num:
    print(num1," - ", num2, "--->", subtract(num1,num2))

9  -  4 ---> 5
10  -  5 ---> 5
13  -  10 ---> 3
25  -  12 ---> 13

- 4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the sum of dollar bills only, as an integer.

    For the input string:
    Each amount is prefixed by the currency symbol: '$' for dollars and Â£ for pounds.
    Thousands are represented by the suffix k.

In [26]:
def add_bill(string):
    lis_str = string.split(",")
    summ = 0
    for i in lis_str:
        if i[0]=='d':
            if i[-1]=='k':
                num = int(i[1:-1])*1000
                summ += num
            else:
                summ += int(i[1:])
    return summ

In [58]:
money = ["d20,p40,p60,d50", "p30,d20,p60,d150,p360", "p30,d2k,p60,d200,p360"]

for st in money:
    print(st, "----money--sum---->", add_bill(st))

d20,p40,p60,d50 ----money--sum----> 70
p30,d20,p60,d150,p360 ----money--sum----> 170
p30,d2k,p60,d200,p360 ----money--sum----> 2200

- 5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

    In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

In [34]:
def flip_list(lis):
    ans_lis = []
    if len(lis)==0:
        return ans_lis
    if type(lis[0])==list:
        for i in lis:
            ans_lis.append(i[0])
    else:
        for i in lis:
            ans_lis.append([i])
    return ans_lis

In [35]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

In [36]:
flip_list([[5], [6], [9]])

[5, 6, 9]

In [37]:
flip_list([])

[]